img{
    border-radius: 10px;
  }
 
 .nav-item{
    font-size: 20px;
    padding-left: 10px;
  }
  
 .box{
  background-color: rgb(238, 188, 238);
  }
  /* image gallery starts */

 :root {
  --white: #fff;
  }
 
 *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  
} 

#azy {
  
  font-size: 62.5%;
  }
/* General banner content */

 /*general search */

.search {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* Book grid */
.item1y {
  grid-area: search;
}

.item2y {
  grid-area: browse;
}

.item3y {
  grid-area: collection;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-areas:
    "browse  search search search"
    "browse  collection collection collection"
    "browse  collection collection collection";
  grid-gap: 10px;
  padding: 10px;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 4vw);
  gap: 2rem;
}

.gallary-item {
  overflow: hidden;
  position: relative;
}

.gallary-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallary-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms linear;
}

.gallary-item:hover .gallary-img {
  transform: scale(1.1);
}

.gallary-item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: var(--white);
  width: 100%;
  text-align: center;
}

.gallary-item .content h2 {
  font-size: 2rem;
  font-weight: 500;
}

.gallary-item .content a {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid var(--white);
  color: var(--white);
  margin-top: 2rem;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
}

.item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.item-5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

/* book browse grid */

.browse-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: burlywood;
  border-radius: 20px;
}

/* .browse-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: burlywood;
  border-radius: 20px;
} */

.browse-title {
  font-size: 20px;
  font-weight: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.browse-content {
  font-size: 15px;
  font-weight: 1.5rem;
  text-align: left;
  margin: 0px 0px;
}
.browse-content a {
  color: black;
}

hr.fortitle {
  border-top: 5px solid papayawhip;
  border-radius: 5px;
}

.mini-browse {
  display: none;
}

/*workshop container */
.workshop-container {
  position: relative;
  background-color: rgba(165, 42, 42, 0.4);
  padding: 40px 20px;
  border-width: 5px;
  margin: 10px 60px;
  border-radius: 10px;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.event {
  border-style: solid;
  border-color: blanchedalmond;
  background-color: #fad6a4;
  padding: 10px 50px;
  border-radius: 5px;
  margin-bottom: 20px;
}



@media only screen and (max-width: 996px) {
  .gallary-item .content h2 {
    font-size: 1.6rem;
  }

  .gallary-item .content a {
    padding: 0.7rem 1.3rem;
    margin-top: 1.5rem;
  }

  .workshop-container {
    position: relative;
    padding: 40px 10px;
    border-width: 5px;
    margin: 20px 0px;
    border-radius: 10px;
  }

  .event {
    border-style: solid;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .gallary-item .content h2 {
    font-size: 1.4rem;
  }

  .gallary-item .content a {
    padding: 0.4rem 1rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallary {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 4vw);
  }

  .item-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .item-2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
  }
  .item-3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
  }
  .item-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 19;
  }

  .item-5 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 19;
    grid-row-end: 23;
  }

  .event h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 817px) {
  .grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-areas:
      "search search search"
      "collection collection collection"
      "collection collection collection";
    grid-gap: 10px;
    padding: 10px;
  }
  .item2y {
    display: none;
  }

  .mini-browse {
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .mini-browse a h4 {
    font-size: 10px;
    font-weight: 0.5rem;
    margin: 10px 10px;
    color: black;
  }
  .mini-content a {
    font-size: 10px;
    font-weight: 0.5rem;
    margin: 10px 10px;
    color: black;
  }
}
 /* image gallery ends  */
 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
  
  
 .rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
  }
 
  @media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
  }
  
  
  
  #lastly{
  padding:10px;
  padding-right: 20px;
  font-size: 25px;
  color:white;
  background-color: black;
  
  }
  /* own */
  #intern1{
      display:flex;
      text-align: center;
      justify-content: center;
  }
  
  
  /* footer starts */
  #negative {
    font-size: 70%;
   }
   
   #negative {
     max-width: 114rem;
     margin: 0 auto;
     background-color: black;
     color: white;
     padding-left: 5rem;
     padding-top: 2rem;
     padding-bottom: 1rem;
   } 
   
   @media only screen and (max-width: 1200px) {
     #negative {
       /* padding: 0 3rem; */
       padding-left: 5rem;
       padding-top: 2rem;
       padding-bottom: 1rem;
     }
   }
   @media only screen and (max-width: 768px) {
     #negative {
       /* padding: 0 5rem; */
       padding-left: 5rem;
       padding-top: 2rem;
       padding-bottom: 1rem;
     }
   }
   @media only screen and (max-width: 817px) {
     .grid-container {
       margin-top: 20px;
       display: grid;
       grid-template-areas:
         "search search search"
         "collection collection collection"
         "collection collection collection";
       grid-gap: 10px;
       padding: 10px;
     }
     .item2 {
       display: none;
     }
   
     .mini-browse {
       padding: 20px;
       margin-top: 30px;
       border-radius: 5px;
       background-color: burlywood;
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
     }
     .mini-browse a h4 {
       font-size: 10px;
       font-weight: 0.5rem;
       margin: 10px 10px;
       color: black;
     }
     .mini-content a {
       font-size: 10px;
       font-weight: 0.5rem;
       margin: 10px 10px;
       color: black;
     } 
    }
   
   .footer {
     background-color: var(--black);
     margin: auto;
     line-height: 3rem;
   }
   
   .footer-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     color: var(--white);
   }
   
   .footer-center a:link,
   .footer-center a:visited {
     display: block;
     color: var(--grey2);
     font-size: 1.4rem;
     transition: 0.6s;
   }
   
   .footer-center a:hover {
     color: var(grey1);
   }
   
   .footer-center div {
     color: var(--grey2);
     font-size: 1.4rem;
   }
   
   .footer-center h3 {
     font-size: 1.8rem;
     font-weight: 400;
     margin-bottom: 1rem;
   }
   
   @media only screen and (max-width: 750px) {
     .footer-container {
       grid-template-columns: 1fr;
       row-gap: 2rem;
     }
   }
   
   .footer-icon {
     margin: 1rem;
   }
   
  

  /* footer ends */

  /* books carowsel start */
  :root {
    --white: #fff;
    --black: #222;
    --grey1: #a8a8a8;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #fcde67;
    --blue: #5bccf6;
  }
  
  
  
  html {
    
    font-size: 100%;
  }
  
  .activate{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
  }
  
  .product-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -2rem;
  }
  
  
  .glide__arrows {
    top: 50%;
  }
  
  .glide__arrow {
    position: absolute;
    top: 50%;
    background-color: #555;
    border: 1px solid var(--black);
    outline: none;
    padding: 1.3rem 1.5rem;
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--white);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .glide:hover .glide__arrow {
    visibility: visible;
    opacity: 1;
  }
  
  .glide__arrow:hover {
    color: var(--black);
    background-color: transparent;
  }
  
  .glide__arrow--left {
    left: 5%;
  }
  
  .glide__arrow--right {
    right: 5%;
  }
  
  
  
  /* General Product */
  
  .product-center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .product {
    text-align: center;
    position: relative;
    padding: 0 1rem;
  }
  
  .product-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28rem;
  }
  
  .product-header img {
    max-height: 20rem;
  }
  
  .product-footer h3 {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--grey);
  }
  
  .rating {
    color: var(--yellow);
    font-size: 1.3rem;
  }
  
  .product-price h4 {
    font-weight: 500;
  }
  
  .product ul {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 17rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.5s ease-in-out;
  }
  
  .product:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .product:hover ul i {
    color: var(--white);
  }
  
  .product ul li:not(:last-child) {
    margin-right: 1.6rem;
  }
  
  .product ul a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey1);
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .product ul a:hover {
    background-color: var(--black);
  }
  
  .product ul a::before {
    content: "";
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    height: 0;
    width: 0;
    border-top: 3px solid var(--grey1);
    border-left: 3px solid var(--grey1);
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
  }
  
  .product ul a::after {
    content: "";
    position: absolute;
    bottom: -0.6rem;
    right: -0.6rem;
    width: 0;
    height: 0;
    border-bottom: 3px solid var(--grey1);
    border-right: 3px solid var(--grey1);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
  }
  
  .product ul a:hover::before {
    width: 126%;
    height: 126%;
    border-top: 3px solid var(--black);
    border-left: 3px solid var(--black);
    opacity: 1;
  }
  
  .product ul a:hover::after {
    width: 126%;
    height: 126%;
    border-bottom: 3px solid var(--black);
    border-right: 3px solid var(--black);
    opacity: 1;
  }
  
  @media only screen and (max-width: 998px) {
    .product-center {
      grid-template-columns: repeat(3, 1fr);
    }
    html{
      font-size: 60%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .product-center {
      grid-template-columns: repeat(2, 1fr);
    }
    html{
      font-size: 60%;
    }
  
    .product-header {
      height: 28rem;
    }
  
    .product-header img.small {
      max-height: 28rem;
    }
  }
  
  @media only screen and (max-width: 567px) {
    .product-header {
      height: 28rem;
    }
    html{
      font-size: 60%;
    }
  }
  
  .order{
    padding: 5px;
    background-color: purple;
    border-radius: 5px;
    font-size: 12px;
  }
   /* books carowsel end */
  
   
 
/* our partners start */
.alumni-image{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
#program1{
height:180px;
width:160px;
margin-left:6px;
}
#program2{
  height:180px;
width:160px;
margin-left:6px;
}
#program3{
  height:180px;
width:160px;
margin-left:6px;
}
#program4{
  height:180px;
width:270px;
margin-left:6px;
}

.fe-heading{
  text-align: center;
}

@media (max-width: 780px){
  #program1{
    height:100px;
    width:100px;
    margin-left:6px;
    }
    #program2{
      height:100px;
    width:100px;
    margin-left:6px;
    }
    #program3{
      height:100px;
    width:100px;
    margin-left:6px;
    }
    #program4{
      height:100px;
    width:130px;
    margin-left:6px;
    }
  }

  @media (max-width: 360px){
    #program1{
      height:70px;
      width:70px;
      margin-left:2px;
      }
      #program2{
        height:70px;
      width:70px;
      margin-left:2px;
      }
      #program3{
        height:70px;
      width:70px;
      margin-left:2px;
      }
      #program4{
        height:70px;
      width:70px;
      margin-left:2px;
      }
    }

 /* our partners end */

 @media (max-width: 360px){
  #business{
    font-size: 15px;
  }
  }

  @media (max-width: 360px){
    #recommended{
      font-size: 15px;
    }
    }
  
  
    #bigbasket{
      list-style-type: none;
  }
  
  
  
  .bigb{
      padding:5px;
      background-color: #fff;
      text-decoration: none;
      margin-left: 80%;
  }
  
  .cart ion-icon{
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
  }
  
  .cart a{
      background-color: royalblue;
      color:white;
      cursor:pointer;
      text-decoration: none;
      border-radius: 5px;
      
  } 
  
  
         
          
  
         
  
  
  
          
  
