#navItem1 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem2 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem3 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem4 {
  color: #323f4b;
  font-family: "Roboto";
}
.banner-section-bg-container {
  background-image: url("https://images.unsplash.com/photo-1620714223084-8fcacc6dfd8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80");
  height: 70vh;
  background-size: cover;
}
.banner-section-bg-container-1{
  background-image: url("https://images.unsplash.com/photo-1620714223084-8fcacc6dfd8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80");
  height: 100vh;
  background-size: cover;
}
.new-image1{
  background-image: url("https://images.unsplash.com/photo-1606146485652-75b352ce408a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
}

.new-image2{
  background-image: url("https://images.unsplash.com/photo-1606159068539-43f36b99d1b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=859&q=80");
}
.banner-heading {
  color: white;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 300;
}
.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}

.AU-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.AU-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.AU-card {
  text-align: center;
  background-image: url("https://image.freepik.com/free-vector/online-education-learning-open-book-man-reading-tutorial-businessman_39422-674.jpg");
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
  height: 300px;
  background-size: cover;
  vertical-align: middle;
}

.AU-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}
.AU-card1 {
  text-align: center;
  background-color: #fff;
  background-image: url("https://img.freepik.com/free-photo/school-boy-yellow-shirt-taking-virtual-classes-raising-hand_23-2148766714.jpg?size=338&ext=jpg");
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
  height: 300px;
  background-size: cover;
}
.AU-card2 {
  text-align: center;
  background-color: #fff;
  background-image: url("https://image.freepik.com/free-psd/creative-project-poster-template_23-2148945064.jpg");
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
  height: 300px;
  background-size: cover;
}
.AU-card3 {
  text-align: center;
  background-color: #fff;
  background-image: url("https://image.freepik.com/free-psd/minimalist-stationery-mockup_7838-364.jpg");
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
  height: 300px;
  background-size: cover;
}
.fe-card {
  border-radius: 16px;
  border-color: lightpink;
}

.fe-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;  
}

.fe-img {
  background-color: #fff;
  border-radius: 16px;
}

.fe-heading {
  font-family: "roboto";
}

.fe-button {
  width: 50%;
  border-radius: 10px;
  background-color: cadetblue;
}

.product-center {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product {
  text-align: center;
  position: relative;
  padding: 0 1rem;
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28rem;
}

.product-header img {
  max-height: 20rem;
}

.product-footer h3 {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--grey);
}

.rating {
  color: var(--yellow);
  font-size: 1.3rem;
}

.product-price h4 {
  font-weight: 500;
}

.product ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 17rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.5s ease-in-out;
}

.product:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.product:hover ul i {
  color: var(--white);
}

.product ul li:not(:last-child) {
  margin-right: 1.6rem;
}

.product ul a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey1);
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.product ul a:hover {
  background-color: var(--black);
}

.product ul a::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  height: 0;
  width: 0;
  border-top: 3px solid var(--grey1);
  border-left: 3px solid var(--grey1);
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}

.product ul a::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  right: -0.6rem;
  width: 0;
  height: 0;
  border-bottom: 3px solid var(--grey1);
  border-right: 3px solid var(--grey1);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

.product ul a:hover::before {
  width: 126%;
  height: 126%;
  border-top: 3px solid var(--black);
  border-left: 3px solid var(--black);
  opacity: 1;
}

.product ul a:hover::after {
  width: 126%;
  height: 126%;
  border-bottom: 3px solid var(--black);
  border-right: 3px solid var(--black);
  opacity: 1;
}

@media only screen and (max-width: 998px) {
  .product-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .product-center {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-header {
    height: 28rem;
  }

  .product-header img.small {
    max-height: 28rem;
  }
}

@media only screen and (max-width: 567px) {
  .product-header {
    height: 28rem;
  }
}

.glide__arrows {
  top: 50%;
}

.glide__arrow {
  position: absolute;
  top: 50%;
  background-color: #555;
  border: 1px solid var(--black);
  outline: none;
  padding: 1.3rem 1.5rem;
  border-radius: 50%;
  font-size: 1.6rem;
  color: var(--white);
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.glide:hover .glide__arrow {
  visibility: visible;
  opacity: 1;
}

.glide__arrow:hover {
  color: var(--black);
  background-color: transparent;
}

.glide__arrow--left {   
  left: 5%;
}

.glide__arrow--right {
  right: 5%;
}
.tutor-image{
  border-radius: 16px;
  background-color: #f5f5f5;
}
.alumni-image{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.glider-image{
  height: 400px;
  width: 300px;
}

.footer {
  background-color: var(--black);
  margin: auto;
  line-height: 3rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: var(--grey2);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(grey1);
}

.footer-center div {
  color: var(--grey2);
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 750px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
.all-products {
  display: flex;
  justify-content: space-around;
}
.search-box {
  margin-right: 2rem;
}
.footer-icon {
  margin: 1rem;
}
.section {
  padding: 5rem 0;
}

.container-class{
  background-color:#000;
}

.grp-img{
  height: 80%;
  width: 80%;
}

.headerpage{
  background-color: #183b56;
}

.team-img{
  height: 90%;
  width: 100%;
}

.style{
  font-weight: bold;
}

.au-heading{
  font-family: "Roboto";
  color: #f5f5f5;
}

.au-section-description {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 16px;
}

.link{
  color: #fff000;
  font-family: "playfair display sc";
  font-size: 14px;
}

.Icon{
  height: 30px;
  width: 30px;
}
.endfooter{
  background-color: #030708;
}

.copy{
  font-size: 13px;
  color: #000;
}

.Icon2{
  height: 18px;
  width: 18px;
}
.logo{
  font-family: "playfair display sc";
  color: gold;
}

.data{
  font-family: "playfair display sc";
  font-weight: bolder;
}

.sayings{
  font-family: "Roboto";
}

.story-bg{
  background-image: url("https://images.unsplash.com/photo-1494122353634-c310f45a6d3c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.Success{
  width: 40%;
  font-family: "playfair display sc";
  color: #fff000;
}

.name{
  font-size: 25px;
}

.orders{
  height: 100vh;
  background-color: #1d1d42;
}

.profile-section{
  border-radius: 16px;
}

.usersection{
  background-color: #183b56;
}

.user-icon{
  border-radius: 8px;
  border:#6fcf97;
}

.user-heading{
  font-size: 18px;
  color: #f5f5f5;
}

.profile-card{
  font-family: "Roboto";
  border-radius: 8px;
  border-width:2px;
  border-color: #fff000;
  border-style: solid;
}

.profile-card:hover{
  background-color: #1d1d42;
}

.profile-holder{
  height: 100px;
  width:100px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3135/3135715.png");
  background-size: cover;
}

.profile-details{
  border-radius: 8px;
  border-width:2px;
  border-color: #fff000;
  border-style: solid;
}

.recommend{
  color: #fff;
}

.recommend-image{
  height: 200px;
  width: 150px;
}

.recommend-heading{
  color: #fff000;
  font-family: "Roboto";
  font-size: 17px;
}

.border-icon{
  border: #fff000;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
}

.recommend-price{
  font-size: 25px;
  font-family: "Roboto";
}